
.service1{
    text-align: center;
    
}
.foot{
    text-align: center;
    
}
.footing{
    text-align: center;
    
}
.DSdigitale{
    font-family: roboto;
    color: green;
    font-size: 50px;
    word-spacing: 5px;

}
p{
    font-family: roboto;
    text-align: left;
    font-size: 2em;
}
.text-resum{
    text-align: center;

}
#audio{
    padding-left: 300px;
    padding-right: 50px;
}
#videoyoutub{
    padding-left: 30%;
}
#video{
    padding-left: 30%;
}
.cardheader{
    text-align: center;
    
}

 

 
.top-page{
    background: url('image/Screenshot_20230214-183811_1.png');
    background-size: cover;
    height: 80 vh;
    padding: 25 px;
  }

 .headre{
  border: 1px solid #eb0707;
  height: 50px;
  background: rgb(235, 7, 7);
  margin: 5PX;
  padding: 5px;
  text-align: center;
  text-decoration: rgb(231, 226, 226);
}


.title{
  border: 1px solid rgb(111, 218, 97);
  height: 49px;
  background: rgb(111, 218, 97);
  margin: 5PX;
  padding: 5px;
  text-align: center;
  text-decoration: wh;
}
 
 body {
   padding: 0px;
   font-family: 'Work Sans', sans-serif;
   font-size: 15px;
   color: #323232;
 }
 
 @media (min-width: 992px) {
   body {
     padding-top: 0px;
   }
 }
 
 
 
 
 .top-bar{
     background: #1273eb;
     padding: 4px 0px;
 }
 .social-media ul{
     list-style: none;
     margin: 0px;
     padding: 0px;
 }
 .social-media ul li{
     display: inline-block;
     padding: 0px 5px;
 }
 .social-media ul li a{
     font-size: 16px;
     color: #ffffff;
 }
 .social-media ul li a:hover{
     color: #323232;
 }
 
 .contact-details ul{
     list-style: none;
     margin: 0px;
     padding: 0px;
     float: right;
 }
 .contact-details ul li{
     display: inline-block;
     padding: 0px 5px;
     color: #ffffff;
 }
 .wrapper-main{
     position: relative;
     overflow: hidden;
 }
 
 .top-nav{
     background-color: #ffffff !important;
 }
 .navbar-expand-lg.top-nav .navbar-nav .nav-link{
     padding: 10px 15px;
     color: #323232;
     font-size: 14px;
     font-weight: 500;
     text-transform: uppercase;
     position: relative;
 }
 .navbar-expand-lg.top-nav .navbar-nav .nav-link i{
     font-size: 14px;
     float: right;
     margin-left: 5px;
 }
 .navbar-expand-lg.top-nav .navbar-nav .nav-link:hover{
     color: #1273eb;
     border-radius: 4.8px;
 }
 .navbar-expand-lg.top-nav .navbar-nav .nav-link.active{
     color: #1273eb;
 }
 .navbar-expand-lg.top-nav .navbar-nav .nav-link.active:before{
     content: "";
     position: absolute;
     width: 40px;
     background: #1273eb;
     height: 5px;
     top: 0px;
     left: 0px;
     border-radius: 6px;
 }
 .navbar-expand-lg.top-nav .navbar-nav .nav-link.active:after{
     content: "";
     position: absolute;
     width: 40px;
     background: #1273eb;
     height: 5px;
     bottom: 0px;
     right: 0px;
     border-radius: 6px;
 }
 .navbar-expand-lg.top-nav .navbar-nav .nav-link:before{
     content: "";
     position: absolute;
     width: 0px;
     background: #1273eb;
     height: 5px;
     top: 0px;
     left: 0px;
     border-radius: 6px;
    
 }
 .navbar-expand-lg.top-nav .navbar-nav .nav-link:after{
     content: "";
     position: absolute;
     width: 0px;
     background: #1273eb;
     height: 5px;
     bottom: 0px;
     right: 0px;
     border-radius: 6px;
    
 }
 .navbar-expand-lg.top-nav .navbar-nav .nav-link:hover:before{
     width: 40px;
     
 }
 .navbar-expand-lg.top-nav .navbar-nav .nav-link:hover:after{
     width: 40px;
     -webkit-transition: all 500ms ease;
     -ms-transition: all 500ms ease;
     -o-transition: all 500ms ease;
     -moz-transition: all 500ms ease;
     transition: all 500ms ease;
 }
 .fixed-menu {
   position: fixed;
   opacity: 0;
   visibility: hidden;
   left: 0px;
   top: 0px;
   min-height: auto;
   width: 100%;
   padding: 0px 0px;
   background: #0726d1;
   
 }
 .dropdown-toggle::after{
     display: none;
 }
 
 .navbar-expand-lg.top-nav .navbar-nav {
     margin: 0px;
     box-shadow: 3px 5px 15px rgba(0,0,0, .15);
     border: none;
     padding: 20px;
 }
 .navbar-expand-lg.top-nav .navbar-nav {
     font-size: 14px;
     padding: 0px;
     margin-bottom: 15px;
     font-weight: 300;
 }
 .navbar-expand-lg.top-nav .navbar-nav {
     padding: 0px;
     margin: 0px;
 }
 .navbar-expand-lg.top-nav .navbar-nav {
     background: none;
     color: #1273eb;
 }
 .top-nav .navbar-toggler{
     color: #323232;
     border-color: #323232;
 }
 .top-nav .navbar-toggler:hover{
     color: #1273eb;
     border-color: #1273eb;
 }